@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  src: url('../font/Volkhov-Bold.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/FiraSans-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Jet Brains';
  font-style: monospace;
  font-weight: 400;
  src: url('../font/JetBrainsMono-VariableFont_wght.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'FiraSans';
  font-size: 1em;
  background-color: #1e1f27;
  color: rgba(255, 255, 255, 0.87);
}

.jumbotron{
  background-color: #1e1f27; 
}

.vertical-center {
  min-height: 90%;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.bg-main{
  background-color: #1e1f27;
}

.btn{
  border-radius: 50px;
}

.resume-btn{
  border-radius: 0.3em;
}

.nav-link{
  color: rgba(255, 255, 255, 0.60) !important;
}

.nav-link:hover{
  color: rgba(255, 255, 255, 0.87) !important;
}

.head-font {
  font-family: 'Volkhov';
  font-weight: 700;
}

.mono-font {
  font-family: 'Jet Brains';
  font-weight: 400;
  font-size: 14px;
}

.main-text{
  color: rgba(255, 255, 255, 0.87);
}

.dark-sub-text{
  /* color: #212529b6 */
  color: rgba(255, 255, 255, 0.60);
}

hr{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.connect-mail{
  color:#007bff;
  font-size: 24px;
  transition: 0.5s;
}

.connect-mail:hover{
  color: #ffffff;
}

.connect-linkedin{
  color:#007bff;
  font-size: 24px;
  transition: 0.5s;
}

.connect-linkedin:hover{
  color: #ffffff;
}

.connect-github{
  color:#007bff;
  font-size: 24px;
  transition: 0.5s;
}

.connect-github:hover{
  color: #ffffff;
}

.connect-badge{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #007bff;
  border-radius: 50px;
  transition: 0.5s;
  height: 66px;
  width: 66px;
}

.connect-badge:hover{
  background-color: #007bff;
  border-radius: 50px;
}

.img-round{
  border-radius: 0.5em;
}

#about-skill{
  display: grid;
  /* grid-template-columns: repeat(2, minmax(140px, 300px)); */
  list-style: none;
}

#about-skill li::before {
  content: "\25cf";
  color: #007bff;
  display: inline-block; 
  width: 2em;
  margin-left: -2em;
}

/* Experience */
#exp-description{
  display: grid;
  list-style: none;
}

#exp-description li {
  margin-bottom: 0.5em;
  text-align: justify;
}

#exp-description li::before {
  content: "\25cf";
  color: #007bff;
  display: inline-block; 
  width: 2em;
  margin-left: -2em;
}

.exp-width{
  max-width: 900px;
}




/* Footer */
.footer-text{
  transition: 0.5s;
}
.footer-text:hover{
  color: #007bff;
  transition: 0.5s;
}